---
const { title, subtitle } = Astro.props;
---

<div class="flex group">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1 group-hover:scale-125 transition-transform duration-200"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="bg-base-200 rounded-lg p-4 flex-1 mx-4 mb-2">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-light text-sm text-base-content/70">{subtitle}</span>
    <p class="mt-2 text-base-content/80">
      <slot />
    </p>
  </div>
</div>
