---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Conferences</div>
  </div>
  
  <ul class="conferences-container space-y-4">
    <li>
      <HorizontalCard
        title="AutomationSTAR 2025 - Ensuring Data Integrity: Great Expectations + Python"
        img="/automationstart.webp"
        desc="In modern software projects, processing and transforming data between different systems or sources is a common challenge. QA engineers are often responsible for ensuring these data pipelines function as expected. However, maintaining consistent regression tests for data integrity can become complex. This session will demonstrate how Great Expectations with Python can be used to write test scripts that validate data against acceptance criteria. The presentation will offer a practical, hands-on approach to simplifying data testing and improving efficiency."
        badge="Country: Netherlands, Language: English"
        url="https://automation.eurostarsoftwaretesting.com/event/2025/ensuring-data-integrity-great-expectations-python/"
      />
    </li>
    <li>
      <HorizontalCard
        title="PyCon US 2025 - Automated E2E testing with Playwright and Python"
        img="/playwright.webp"
        desc="In this 30-minute talk, I invite you to explore the universe of Playwright combined with the power of Python, a tool with great potential in the market."
        badge="Country: USA, Language: Spanish"
        url="https://us.pycon.org/2025/schedule/presentation/94/"
      />
      <div class="divider my-0"></div>
    </li>
    <li>
      <HorizontalCard
        title="PyCon Colombia 2024 - Automated E2E testing with Playwright and Python"
        img="/playwright.webp"
        desc="In this 30-minute talk, I invite you to explore the universe of Playwright combined with the power of Python, a tool with great potential in the market."
        badge="Country: Colombia, Language: Spanish"
        url="https://2024.pycon.co/en/talks/10"
      />
    </li>
  </ul>
</BaseLayout>
