---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I have experience in infrastructure operations and digital projects. I am a
    self motivated professional always looking oportunities to help and improve.
    I consider myself as a learner. I´ve made a positive impact working with
    partners that have high level of importance such as Autodesk, Linksys,
    Belkin,Citi retail services, Subaru, Microfocus, Accenture Search and
    Content Analytics .
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Quality Assurance Automation Engineer"
      subtitle="From 2021 at Accenture, San Jose, Costa Rica"
      desc="Industry: Search & Content Analytics"
    />
    <TimeLineElement
      title="QA Automation Engineer"
      subtitle="From 2020 to 2021 at Microfocus, San Jose, Costa Rica"
      desc="Industry: Security analytics & forensic investigation tools"
    />
    <TimeLineElement
      title="QA Automation Engineer"
      subtitle="From 2016 to 2017 at CEDIN, UCI, Habana, Cuba"
      desc="Industries: Retail and Consumer Goods - Banking and Financial Services"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Business administration with emphasis in Marketing"
      subtitle="In progress at Universidad Hispanoamericana, Costa Rica"
    />
    <TimeLineElement
      title="Sofware Engineering"
      subtitle="In progress at Universidad Hispanoamericana, Costa Rica"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.credly.com/badges/18c70723-359a-4850-9785-56a56a853429?source=linked_in_profile"
        target="_blank"
      >
        Scrum Foundation Professional Certificate - SFPC™</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (Business)</li>
    <li>JavaScript</li>
    <li>Typescript</li>
    <li>java</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Python</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>CI/CD Tools</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Appium</li>
    <li>Cypress</li>
    <li>Selenium</li>
    <li>TestCafe</li>
    <li>Playwright</li>
    <li>Postman</li>
  </ul>
</BaseLayout>
